.menu {
  width: 12rem;
  height: 4.5rem;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  border-radius: 0.2rem;
  list-style: none;
  position: fixed;
}
.menu.off {
  top: -200%;
  left: -200%;
}
.menu-item {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
  padding: 0 1rem;
}
.menu-item:hover,
.menu-item:active {
  color: #000;
  font-weight: 500;
}

#row {
  display: grid;
  grid: 150px / auto auto auto;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  width: 100%;
  background-color: #d3cfcf;
  height: 67%;
  position: absolute;
  margin-top: 450px;
  padding: 10px 10px 10px 10px;
}

.column {
  width: 25%;
  padding: 20px;
  /* height: 300px; */
  /* margin: 0 2px; */
}

.column > img {
  width: 340%;
}

.column2 {
  background-color: rgb(161, 161, 161);
  display: grid;
  /* text-align: center; */
  padding: 20px;
  font-size: 33px;
  color: rgb(44, 44, 44);
  width: 310%;
  border-color: cadetblue;
  /* border-top: 2px; */
  font-size: 13px;
  text-decoration: none solid rgb(255, 255, 255);
  /* word-spacing: 0px; */
}
